{{ define "main" }}

<h1>About</h1>

<img style='width:200px;' src="portrait_mono.png" alt="Gonzalo Peraza" align="left">

<p>
  I am a postdoctoral researcher at <a href=https://tec.mx/> Tecnológico de Monterrey</a>, part of the SOI-STEM research group at the <a href=https://tec.mx/en/ife>Institute for the Future of Education</a> (IFE). My current research efforts lie in the fields of city science, complex systems, education and their intersection. I've also worked in data science, granular matter and statistical physics.
</p>

<p>
  Soy investigador posdoctoral en el <a href=https://tec.mx/> Tecnológico de Monterrey</a>, parte del grupo de investigación SOI-STEM del <a href=https://tec.mx/en/ife>Institute for the Future of Education</a> (IFE). Mis esfuerzos de investigación actuales se encuentran en los campos de la ciencia de la ciudad, sistemas complejos, educación y la intersección entre estos. También he trabajado en ciencia de datos, materia granular y física estadística.
</p>

<br/>

<h1>Posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

<h1>Projects</h1>

<div> </div>

<h1>Publications</h1>

<a href="/publication">Here</a> for complete list with abstracts.
Also see my Google Scholar <a href="https://scholar.google.com/citations?user=nguMmzcAAAAJ&hl=en">profile</a>.

<div class="posts-list">
  {{ with .Site.GetPage "/publication" }}

  {{ range sort .Data.Pages "Date" "desc" }}
  <div class="post">
    <p>
      <div class="date">{{ .Date.Format "Jan. 2, 2006" }}</div>
      <h2><a href="https://doi.org/{{ .Params.doi }}" title="{{ .Title }}">{{ .Title }}</a></h2>
      <div>
        in {{.Params.Publication | markdownify}}
      </div>
      <div> |
        {{ range .Params.authors}}
        {{if in . "Peraza"}}
        <b>{{ . }}</b>
        {{ else }}
        <em>{{ . }}</em>
        {{ end }}
        |
        {{ end }}
      </div>
    </p>
  </div>
  {{ end }}
</div>
{{end}}
{{ end }}
