{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

<div class="posts-list">
{{ range sort .Data.Pages "Date" "desc" }}
        <div class="post">
            <p>
              <div class="date">{{ .Date.Format "Jan. 2, 2006" }}</div>
              <h2><a href="https://doi.org/{{ .Params.doi }}" title="{{ .Title }}">{{ .Title }}</a></h2>
              <div class="authors" style="padding-bottom: 0.5em; padding_top: 0.5em;"> |
                {{ range .Params.authors}}
                {{if in . "Peraza"}}
                <b>{{ . }}</b>
                {{ else }}
                <em>{{ . }}</em>
                {{ end }}
                |
                {{ end }}
                </div>
                {{ .Params.abstract }}
            </p>
        </div>
{{ end }}
</div>

{{ end }}
